body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}
.header {
    text-align: center;
    top:1px;
    position: sticky;
    z-index: 1;
    background-color: white;
}
.header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
.header p {
    font-size: 1.2em;
}
.grid-container1 {
    display: grid;
    grid-template-columns:repeat(6,1fr) ;
    grid-gap: 20px;
    background-color: rgb(3, 76, 136);
    padding: 10px;
}
.grid-container2 {
    display: grid;
    grid-template-columns:repeat(6,1fr) ;
    grid-gap: 20px;
    background-color: rgb(3, 76, 136);
    padding: 10px;
    position: relative;
    text-align: center;

}
.arrow-right::after{
    color: black;
  content: "\2794";
  font-size: 16px;
  position: relative;
  left: 7.875rem;
  
}
.arrow-left::after {
    color: black;
    content: '🡄';
    font-size: 16px;
    bottom: 50%;
    position: relative;
    right: 7.875rem;
  }
.grid-item1 {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: white;   
}
.grid-item2 {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(3, 76, 136);
}
#extra{
    background-color: white; 
    height: 200px;
    display: flex;
    color: rgb(3, 76, 136);
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
}
.popup {
    display: none; 
    position: fixed;
    z-index: 1;
    right: 1rem;
    top: 40%;
    left: 70%;
    height: 100%;
    background-color:gainsboro 
}

  .popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .title-page {
    page-break-after: always;
  }
